<!DOCTYPE html>
<html class="dark" lang="fr">
	<head>
		<meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
        <meta name='description' content="Mettre une description ici en 156 caractères max">
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}

		<!-- Matomo -->
		<script>
		var _paq = window._paq = window._paq || [];
		/* tracker methods like "setCustomDimension" should be called before "trackPageView" */
		_paq.push(["setDocumentTitle", document.domain + "/" + document.title]);
		_paq.push(["setDoNotTrack", true]);
		_paq.push(['trackPageView']);
		_paq.push(['enableLinkTracking']);
		(function() {
			var u="https://piwik.imago-design.net/";
			_paq.push(['setTrackerUrl', u+'matomo.php']);
			_paq.push(['setSiteId', '42']);
			var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
			g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
		})();
		</script>
		<noscript><p><img src="https://piwik.imago-design.net/matomo.php?idsite=42&amp;rec=1" style="border:0;" alt="" /></p></noscript>
		<!-- End Matomo Code -->

	</head>
	<body class=" dark:bg-gray-900 font-body">
	<div class="flex flex-col justify-between min-h-screen pt-6 ">
		<div class="max-w-screen-xl px-4 mx-auto sm:px-6 lg:px-8">

			<div class="max-w-6xl mx-auto"> 
            {% block body %}{% endblock %}
            </div>
        </div>
		<footer class="flex flex-col items-center justify-center gap-6 p-4 mt-4 text-center md:flex-row bg-slate-700 text-slate-200">
		<div class="">
			Site crée par <a href="https://twitter.com/NodokaMurmevent" target="_blank" rel="noopener noreferrer" class="underline transition-all group hover:decoration-fuchsia-400 hover:text-fuchsia-400 underline-offset-4 decoration-solid decoration-fuchsia-300"><span class="relative inline mr-1 text-2xl transition-all iconify-inline top-1 group-hover:text-sky-400" data-icon="dashicons:twitter"></span>NodokaMurmevent</a>
		</div>
		<div class="hidden md:block">|</div>
		<div class="">
			Site <a href="https://github.com/NodokaMurmevent/chouineur-canardpc-not-official" target="_blank" rel="noopener noreferrer" class="underline transition-all underline-offset-4 decoration-solid decoration-orange-400 group hover:decoration-orange-500 hover:text-orange-500"><span class="relative inline mr-1 text-2xl leading-4 transition-all iconify-inline top-1 group-hover:text-stone-400" data-icon="bi:github"></span>Open Source</a> sous license WTFPL.
		</div>
		</footer>
		</div>
    </body>
</html>
